{% extends 'base.html'%}
{% block title %}Departments{% endblock %}
{% block content%}



<div class="container mt-5 ">
    <h1>Departments</h1>
    <a href="{{ url_for('page.add_department') }}" class="add_new"><button type="button" class="btn btn-primary btn-lg">Add new department</button></a>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Department</th>
            <th>Average salary</th>
            <th>Number of employees</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.department }}</td>
            <td>{{ department.average_salary }}</td>
            <td>{{ department.number_of_employees }}</td>
            <td>
                <input type="button" data-id="{{ department.uuid }}" class="btn btn-danger" value="Delete">
            </td>
        </tr>
        {% endfor %}

        <div class="delete_window " style="display: none">
            <form id='del' action="" method="post">
                <br/>
                <p>Please confirm delete department</p>
                <input type="submit" class="btn btn-primary" value="Yes">
                <input type="button" class="btn btn-primary" value="Cancel">
            </form>
        </div>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('input.btn-danger').click(function () {
        $('form#del').attr('action', `/departments/delete/${this.dataset.id}`);
        $('div.delete_window').show();
    });
    $('input.btn-secondary').click(function () {
        $('div.delete_window').hide();
    });
</script>
{% endblock %}