{% extends 'base.html'%}
{% block title %}Employees{% endblock %}
{% block content%}
<br/>
<br/>
<a href="{{ url_for('page.add_employee') }}" class="add_new">
    <button type="button" class="btn btn-primary btn-lg">Add new employee</button>
</a>
<div class="container mt-5">
    <h1>Employees</h1>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Age</th>
            <th>Date of birth</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.department.department}}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.birth_date}}</td>
            <td>
                <input type="button" data-id="{{employee.uuid }}" class="btn btn-danger" value="Delete">
                <input type="button" class="btn btn-warning" data-id="{{ employee.uuid }}"
                       data-dep="{{ employee.department_uuid }}" value="Edit">
            </td>

        </tr>
        {% endfor %}
        <div class="delete_window" style="display: none">
            <form id='del' action="" method="post">
                <p>Please confirm delete employee</p>
                <input type="submit" class="btn btn-primary" value="Yes">
                <input type="button" class="btn btn-secondary" value="Cancel">
            </form>
        </div>
        </tbody>
    </table>
</div>
<div id="window_emp" style="display: none">
    <div class="x"></div>
    <form action="" method="post">
        <input type="hidden" id="emp_id" name="uuid">
        <h2 class="ed_department_title"><label id="title_add_emp"><sup>Name: </sup><input type="text"
                                                                                          class="input_name"
                                                                                          name="name"
                                                                                          placeholder="Name Surname"></label>
        </h2>
        <div class="employee_text_block">
            <div class="ed_textcols-item">
                <p class="emp_text_center"><label>Salary: <input type="number" id="salary" class="emp_inp"
                                                                 name="salary"></label></p>
            </div>
            <div class="ed_textcols-item">
                <p class="emp_text_right"><label>Department: <select name="department">
                    {% for department in departments %}
                    <option value="{{ department.uuid }}">{{ department.department }}</option>
                    {% endfor %}
                </select></label></p>
                <p class="emp_text_left"><label>Birthday: <input type="date" id="birthday" class="emp_inp_date"
                                                                 name="birth_date"></label>
                </p>
            </div>
        </div>
        <input type="submit" class="save" value="Save">
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('input.btn-danger').click(function () {
        $('form#del').attr('action', `/employees/delete/${this.dataset.id}`);
        $('div.delete_window').show();
        $('.b-popup').show();
    });
    $('input.btn-secondary').click(function () {
        $('div.delete_window').hide();
        $('.b-popup').hide();
    });
    $(document).ready(function () {
        $('body').on('click', '.btn-warning', function () {
            const a = $(`#${this.dataset.id}`);
            const title = a.find('.department_title').html();
            let list = [];
            for (let i of a.find('b')) {
                list.push(i.innerHTML);
            }
            $('input#emp_id').val(this.dataset.id);
            $('.input_name').val(title);
            $('.emp_inp_date').val(list[1]);
            $('#salary').val(list[2]);
            $('.title_add_emp').val(title);
            $(`select option[value=${this.dataset.dep}]`).prop('selected', true);
            $('div#window_emp').show();
            $('.b-popup').show();
        })
    });
</script>
{% endblock %}