{% extends 'base.html'%}
{% block title %}Employees{% endblock %}
{% block content%}
<br/>
<br/>
<a href="{{ url_for('page.add_employee') }}" class="add_new">
    <button type="button" class="btn btn-primary btn-lg">Add new employee</button>
</a>
<div class="container mt-5">
    <h1>Employees</h1>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Age</th>
            <th>Date of birth</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.department.department}}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.birth_date}}</td>
            <td>
                <input type="button" data-id="{{employee.uuid }}" class="btn btn-danger" value="Delete">
                <input type="button" class="btn btn-warning" data-id="{{ employee.uuid }}"
                       data-dep="{{ employee.department_uuid }}" value="Edit">
            </td>

        </tr>
        {% endfor %}
        <div class="delete_window" style="display: none">
            <form id='del' action="" method="post">
                <p>Please confirm delete employee</p>
                <input type="submit" class="btn btn-primary" value="Yes">
                <input type="button" class="btn btn-secondary" value="Cancel">
            </form>
        </div>
        </tbody>
    </table>
</div>
<div id="window_emp" style="display: none" class="container mt-5">
    <form action="" method="post" class="row g-3 needs-validation">
    <div class="col-md-2">
        <input type="hidden" id="emp_id" name="uuid">
        <label for="validationCustom01" class="form-label">Full name</label>
        <input type="text"
               class="form-control"
               name="name"
               placeholder="Name Surname">
    </div>
        <div class="col-md-2">
            <label for="validationCustom05" class="form-label">Salary</label>
            <input name="salary" type="text" class="form-control" id="validationCustom05" placeholder="15000" required>
        </div>
            <div class="col-md-2">
                <label class="form-select">Department: <select name="department">
                    {% for department in departments %}
                    <option value="{{ department.uuid }}">{{ department.department }}</option>
                    {% endfor %}
                </select></label></p>
            </div>
            <div class="col-md-2">
                <label>Birthday: <input type="date" id="birthday" class="form-control"
                                                                 name="birth_date"></label>
            </div>
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('input.btn-danger').click(function () {
        $('form#del').attr('action', `/employees/delete/${this.dataset.id}`);
        $('div.delete_window').show();
        $('.b-popup').show();
    });
    $('input.btn-secondary').click(function () {
        $('div.delete_window').hide();
        $('.b-popup').hide();
    });
    $(document).ready(function () {
        $('body').on('click', '.btn-warning', function () {
            const a = $(`#${this.dataset.id}`);
            const title = a.find('.department_title').html();
            let list = [];
            for (let i of a.find('b')) {
                list.push(i.innerHTML);
            }
            $('input#emp_id').val(this.dataset.id);
            $('.input_name').val(title);
            $('.emp_inp_date').val(list[1]);
            $('#salary').val(list[2]);
            $('.title_add_emp').val(title);
            $(`select option[value=${this.dataset.dep}]`).prop('selected', true);
            $('div#window_emp').show();
            $('.b-popup').show();
        })
    });
</script>
{% endblock %}